SITE_ROOT=/data/site
CHAT_DB=/data/chat.sqlite
PORT=3000
NODE_ENV=production
NODE_OPTIONS=--use-openssl-ca
WEBSITE_ALLOW_PUBLISH=0
EDITOR_SESSION_SECRET={{ HABIDAT_WEBSITE_SESSION_SECRET }}
OIDC_ISSUER={{ HABIDAT_PROTOCOL | default('https') }}://{{ HABIDAT_USER_SUBDOMAIN }}.{{ HABIDAT_DOMAIN }}/oidc
OIDC_CLIENT_ID={{ HABIDAT_WEBSITE_OIDC_CLIENT_ID }}
OIDC_CLIENT_SECRET={{ HABIDAT_WEBSITE_OIDC_CLIENT_SECRET }}
OIDC_REDIRECT_URI={{ HABIDAT_PROTOCOL | default('https') }}://{{ HABIDAT_WEBSITE_HOST }}/auth/callback
VIRTUAL_HOST={{ HABIDAT_WEBSITE_HOST }}
VIRTUAL_PORT=3000
LETSENCRYPT_HOST={{ HABIDAT_WEBSITE_HOST }}
LETSENCRYPT_EMAIL={{ HABIDAT_ADMIN_EMAIL }}
