---

discourse_connect_url: "{{ HABIDAT_PROTOCOL }}://{{ HABIDAT_USER_SUBDOMAIN }}.{{ HABIDAT_DOMAIN }}/sso/discourse"
discourse_connect_secret: "{{ HABIDAT_DISCOURSE_SSO_SECRET }}"
enable_discourse_connect: 'true'
logout_redirect: "{{ HABIDAT_PROTOCOL }}://{{ HABIDAT_USER_SUBDOMAIN }}.{{ HABIDAT_DOMAIN }}/sso/discourse/logout"
