URL_BASE_TRUSTED=https://{{ HABIDAT_MAILTRAIN_SUBDOMAIN }}.{{ HABIDAT_DOMAIN }}
URL_BASE_SANDBOX=https://{{ HABIDAT_MAILTRAIN_SANDBOX_SUBDOMAIN }}.{{ HABIDAT_DOMAIN }}
URL_BASE_PUBLIC=https://{{ HABIDAT_MAILTRAIN_PUBLIC_SUBDOMAIN }}.{{ HABIDAT_DOMAIN }}
WWWW_PROXY=true
MONGO_HOST={{ HABIDAT_DOCKER_PREFIX }}-mailtrain-mongo
REDIS_HOST={{ HABIDAT_DOCKER_PREFIX }}-mailtrain-redis
MYSQL_HOST={{ HABIDAT_DOCKER_PREFIX }}-mailtrain-db
MYSQL_DATABASE={{ HABIDAT_DOCKER_PREFIX }}
MYSQL_USER={{ HABIDAT_DOCKER_PREFIX }}
MYSQL_PASSWORD={{ HABIDAT_MAILTRAIN_DB_ROOT_PASSWORD }}
WITH_LDAP=true
LDAP_HOST={{ HABIDAT_DOCKER_PREFIX }}-ldap
LDAP_PORT=389
LDAP_BIND_USER=cn=admin,{{ HABIDAT_LDAP_BASE }}
LDAP_BIND_PASS={{ HABIDAT_LDAP_ADMIN_PASSWORD }}
LDAP_FILTER={% raw %}(|(cn={{username}})(mail={{username}})(uid={{username}})){% endraw %}

LDAP_BASEDN=ou=users,{{ HABIDAT_LDAP_BASE }}
LDAP_UIDTAG=cn
VIRTUAL_HOST={{ HABIDAT_MAILTRAIN_SUBDOMAIN }}.{{ HABIDAT_DOMAIN }}
VIRTUAL_PORT=3000
LETSENCRYPT_HOST={{ HABIDAT_MAILTRAIN_SUBDOMAIN }}.{{ HABIDAT_DOMAIN }}
