# Main parameters
HABIDAT_TITLE="habi*DAT"
HABIDAT_DESCRIPTION="habi*DAT Test Plattform fuer Hausprojekte"
HABIDAT_ADMIN_EMAIL=admin@example.com
HABIDAT_ADMIN_PASSWORD=generate
HABIDAT_DOMAIN=habidat.localhost
HABIDAT_LDAP_DOMAIN=habidat.localhost
HABIDAT_LDAP_BASE=dc=habidat,dc=localhost
HABIDAT_SMTP_EMAILFROM=admin@example.com
HABIDAT_SMTP_HOST=localhost
HABIDAT_SMTP_PORT=1025
HABIDAT_SMTP_USER=
HABIDAT_SMTP_PASSWORD=
HABIDAT_SMTP_TLS=false
HABIDAT_SMTP_AUTHMETHOD=none       #none, plain or login

# Other parameters
HABIDAT_LOGO=habidat.png
HABIDAT_PROTOCOL=https
HABIDAT_NEXTCLOUD_SUBDOMAIN=cloud
HABIDAT_NEXTCLOUD_DEFAULTQUOTA="1 GB"
HABIDAT_DISCOURSE_SUBDOMAIN=discourse
HABIDAT_DIREKTKREDIT_SUBDOMAIN=direktkredit
HABIDAT_USER_SUBDOMAIN=user
HABIDAT_MEDIAWIKI_SUBDOMAIN=mediawiki
HABIDAT_DOKUWIKI_SUBDOMAIN=dokuwiki
HABIDAT_MAILTRAIN_PUBLIC_SUBDOMAIN=lists
HABIDAT_MAILTRAIN_SUBDOMAIN=mailtrain
HABIDAT_MAILTRAIN_SANDBOX_SUBDOMAIN=sandbox.mailtrain
HABIDAT_DOCKER_PREFIX=habidat
HABIDAT_CREATE_SELFSIGNED=true
HABIDAT_LETSENCRYPT=true
HABIDAT_SSO=true
HABIDAT_EXISTING_NGINX_GENERATOR_NETWORK=
HABIDAT_EXISTING_BACKEND_NETWORK=
HABIDAT_BACKUP_DIR=./backup
COMPOSE_HTTP_TIMEOUT=200
HABIDAT_EXPOSE_LDAP=false