export HABIDAT_TITLE="habi*DAT"
export HABIDAT_DESCRIPTION="habi*DAT Test Plattform fuer Hausprojekte"
export HABIDAT_LOGO=habidat.png
export HABIDAT_ADMIN_EMAIL=admin@example.com
export HABIDAT_ADMIN_PASSWORD=generate
export HABIDAT_PROTOCOL=https
export HABIDAT_DOMAIN=habidat.local
export HABIDAT_NEXTCLOUD_SUBDOMAIN=cloud
export HABIDAT_NEXTCLOUD_DEFAULTQUOTA="1 GB"
export HABIDAT_DISCOURSE_SUBDOMAIN=discourse
export HABIDAT_DIREKTKREDIT_SUBDOMAIN=direktkredit
export HABIDAT_USER_SUBDOMAIN=user
export HABIDAT_MEDIAWIKI_SUBDOMAIN=mediawiki
export HABIDAT_DOKUWIKI_SUBDOMAIN=dokuwiki
export HABIDAT_MAILTRAIN_PUBLIC_SUBDOMAIN=lists
export HABIDAT_MAILTRAIN_SUBDOMAIN=mailtrain
export HABIDAT_MAILTRAIN_SANDBOX_SUBDOMAIN=sandbox.mailtrain
export HABIDAT_LDAP_BASE=dc=habidat,dc=local
export HABIDAT_SMTP_EMAILFROM=admin@example.com
export HABIDAT_SMTP_HOST=mail.xaok.org
export HABIDAT_SMTP_PORT=25
export HABIDAT_SMTP_USER=
export HABIDAT_SMTP_PASSWORD=
export HABIDAT_SMTP_TLS=false
export HABIDAT_SMTP_AUTHMETHOD=none       #none, plain or login
export HABIDAT_DOCKER_PREFIX=habidat
export HABIDAT_CREATE_SELFSIGNED=true
export HABIDAT_LETSENCRYPT=true
export HABIDAT_SSO=true
export HABIDAT_EXISTING_NGINX_GENERATOR_NETWORK=
export HABIDAT_EXISTING_BACKEND_NETWORK=
export HABIDAT_BACKUP_DIR=/var/opt/habidat
export COMPOSE_HTTP_TIMEOUT=200
