# Main parameters
HABIDAT_TITLE="habi*DAT"
HABIDAT_DESCRIPTION="habi*DAT Test Plattform fuer Hausprojekte"
HABIDAT_ADMIN_EMAIL=admin@example.com
HABIDAT_ADMIN_PASSWORD=generate                # use "generate" to automatically generate an admin password
HABIDAT_DOMAIN=habidat.localhost              
HABIDAT_DOCKER_PREFIX=habidat                  # containers will be called <prefix>-<module>-<service>. Make sure to not collide with existing docker containers
HABIDAT_BACKUP_DIR=/mnt/backup                 # directory where data is exported to and imported from (absolute URL)

# LDAP                                         # make sure domain and base match up, if you want to import production data these need to match the production config
HABIDAT_LDAP_DOMAIN=habidat.localhost        
HABIDAT_LDAP_BASE=dc=habidat,dc=localhost     

# SMTP 
HABIDAT_MAILHOG=true                           # run mailhog for development emails (you can leave SMTP_* config as is)
HABIDAT_SMTP_EMAILFROM=admin@habidat.localhost # in production: make sure SMTP_* credentials are allowed to send from EMAILFROM
HABIDAT_SMTP_HOST=mailhog
HABIDAT_SMTP_PORT=1025
HABIDAT_SMTP_USER=
HABIDAT_SMTP_PASSWORD=
HABIDAT_SMTP_TLS=false
HABIDAT_SMTP_AUTHMETHOD=none                   # none, plain or login

# Dev vs Production parameters
HABIDAT_EXPOSE_LDAP=false                      # expose LDAP port to host
HABIDAT_CREATE_SELFSIGNED=true                 # create selfsigned cert with mkcert (enable in development, don't enable if letsencrypt is used)
HABIDAT_LETSENCRYPT=false                      # enable / disable letsencrypt (only enable in production)
HABIDAT_PROTOCOL=https                         # change to http if you don't want to use mkcert in development setup (untested at the moment)
HABIDAT_EXISTING_NGINX_GENERATOR_NETWORK=      # if you want to connect to an existing nginx instance (not recommended, make sure to config nginx like nginx module)
HABIDAT_EXISTING_BACKEND_NETWORK=              # if you want to connect to existing backend services (like existing LDAP service, ...), not recommended / experimental

# Other parameters
HABIDAT_LOGO=habidat.png                

# module parameters

## auth
HABIDAT_USER_SUBDOMAIN=user

## nextcloud
HABIDAT_NEXTCLOUD_SUBDOMAIN=cloud
HABIDAT_NEXTCLOUD_DEFAULTQUOTA="1 GB"

## discourse
HABIDAT_DISCOURSE_SUBDOMAIN=discourse

## direktkredit
HABIDAT_DIREKTKREDIT_SUBDOMAIN=direktkredit

## mediawiki
HABIDAT_MEDIAWIKI_SUBDOMAIN=mediawiki

## dokuwiki
HABIDAT_DOKUWIKI_SUBDOMAIN=dokuwiki

## mailtrain
HABIDAT_MAILTRAIN_PUBLIC_SUBDOMAIN=lists
HABIDAT_MAILTRAIN_SUBDOMAIN=mailtrain
HABIDAT_MAILTRAIN_SANDBOX_SUBDOMAIN=sandbox.mailtrain

# other 
COMPOSE_HTTP_TIMEOUT=200
