LISTMONK_app__address=0.0.0.0:9000
LISTMONK_db__user=listmonk
LISTMONK_db__password={{ HABIDAT_LISTMONK_DB_PASSWORD }}
LISTMONK_db__database=listmonk
LISTMONK_db__host=db
LISTMONK_db__port=5432
LISTMONK_db__ssl_mode=disable
LISTMONK_ADMIN_USER=admin
LISTMONK_ADMIN_PASSWORD={{ HABIDAT_LISTMONK_ADMIN_PASSWORD }}
# API user created by --install. The token is printed once and stored in passwords.env.
LISTMONK_ADMIN_API_USER=habidat-api
TZ=Etc/UTC
VIRTUAL_HOST={{ HABIDAT_LISTMONK_PROJECTID }}.{{ HABIDAT_LISTMONK_SUBDOMAIN | default('lists') }}.{{ HABIDAT_DOMAIN }}
VIRTUAL_PORT=9000
LETSENCRYPT_HOST={{ HABIDAT_LISTMONK_PROJECTID }}.{{ HABIDAT_LISTMONK_SUBDOMAIN | default('lists') }}.{{ HABIDAT_DOMAIN }}
LETSENCRYPT_EMAIL={{ HABIDAT_ADMIN_EMAIL }}
