HABIDAT_MYSQL_PASSWORD={{ HABIDAT_NEXTCLOUD_DB_PASSWORD }}
HABIDAT_ADMIN_USER=localadmin
HABIDAT_ADMIN_PASSWORD={{ HABIDAT_ADMIN_PASSWORD }}
REDIS_HOST={{ HABIDAT_DOCKER_PREFIX }}-nextcloud-redis
REDIS_HOST_PASSWORD={{ HABIDAT_NEXTCLOUD_REDIS_PASSWORD }}

HABIDAT_NEXTCLOUD_SUBDOMAIN={{ HABIDAT_NEXTCLOUD_SUBDOMAIN }}
HABIDAT_DOMAIN={{ HABIDAT_DOMAIN }}
HABIDAT_PROTOCOL={{ HABIDAT_PROTOCOL }}
HABIDAT_USER_SUBDOMAIN={{ HABIDAT_USER_SUBDOMAIN }}
HABIDAT_WIKI_SUBDOMAIN={{ HABIDAT_WIKI_SUBDOMAIN | default("") }}
HABIDAT_DISCOURSE_SUBDOMAIN={{ HABIDAT_DISCOURSE_SUBDOMAIN }}
HABIDAT_DESCRIPTION={{ HABIDAT_DESCRIPTION }}
HABIDAT_TITLE={{ HABIDAT_TITLE }}
HABIDAT_LDAP_BASE={{ HABIDAT_LDAP_BASE }}
HABIDAT_LDAP_ADMIN_PASSWORD={{ HABIDAT_LDAP_ADMIN_PASSWORD }}
HABIDAT_DISCOURSE_SSO_SECRET={{ HABIDAT_DISCOURSE_SSO_SECRET | default("") }}
HABIDAT_DOCKER_PREFIX={{ HABIDAT_DOCKER_PREFIX }}
HABIDAT_SSO_CERTIFICATE={{ HABIDAT_SSO_CERTIFICATE | default("") }}
HABIDAT_SSO={{ HABIDAT_SSO | default("false") }}

VIRTUAL_HOST={{ HABIDAT_NEXTCLOUD_SUBDOMAIN }}.{{ HABIDAT_DOMAIN }}
LETSENCRYPT_HOST={{ HABIDAT_NEXTCLOUD_SUBDOMAIN }}.{{ HABIDAT_DOMAIN }}
